@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello MVC Class</h1>
    <p>This is the Home/Index View that was returned by the HomeController Index action(method)</p>
</div>
